# =========================
# ROS2 / COLCON
# =========================
build/
install/
log/

# colcon markers
COLCON_IGNORE

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# egg metadata
*.egg-info/
*.egg

# =========================
# WEBOTS
# =========================
webots_log.txt
*.wbt.cache
*.wbproj
*.wbo

# =========================
# YOUR LOG FILES
# =========================
gui_log.txt
*.log

# =========================
# TEMP FILES
# =========================
*.tmp
*.bak
*.swp
*.swo

# =========================
# IDE / EDITOR
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db